@media (max-width: 1120px) {
    .container {
        width: 1020px;
        margin: 0 auto;
    }
}

@media (max-width: 1020px) {
    .container {
        width: 920px;
        margin: 0 auto;
    }
}

@media (max-width: 920px) {
    .container {
        width: 820px;
        margin: 0 auto;
    }
}

@media (max-width: 820px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }
}

@media (max-width: 720px) {
    .container {
        width: 620px;
        margin: 0 auto;
    }
}

@media (max-width: 620px) {
    .container {
        width: 520px;
        margin: 0 auto;
    }
}

@media (max-width: 520px) {
    .container {
        width: 420px;
        margin: 0 auto;
    }
}

@media (max-width: 420px) {
    .container {
        width: 320px;
        margin: 0 auto;
    }
}